<div id="<%= dom_id exercise_plan %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= exercise_plan.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= exercise_plan.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= exercise_plan.user_id %>
  </div>
</div>
